<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humanpowers.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div align="center"><img src="img/BigBullx.png" class="img-fluid" alt="humanpowers"></div>

    <div class=" pt-4">
        <div class="container me-5 pe-5 pb-3">
            <div class="container  ">
                <div class="container">
                      <div class="">
                        <h3 class="" style="font-weight: bold; color: #1D6280;">

                            Thank You
                            </h3>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" pt-4">
        <div class="container me-5 pe-5 pb-3">
            <div class="container  ">
                <div class="container">
                      <div class="">
                        <h2 class="" style="font-weight: bold; color:#54B82D;">
                            
आपका ऑर्डर प्राप्त हुआ

                            </h2>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" pt-4">
        <div class="container me-5 pe-5 pb-3">
            <div class="container  ">
                <div class="container">
                      <div class="" align="center">
                        <img src="/img/joshplus.webp" alt="">
                      </div>

                </div>
            </div>
        </div>
    </div>

    <div class=" pt-4">
        <div class="container me-5 pe-5 pb-3">
            <div class="container  ">
                <div class="container">
                      <div class="">
                        <h2 class="" style="font-weight: bold;">
                            
                            आपको डॉक्टर की टीम कॉल करके इस्तेमाल करने के तरीके के बारे में बताएंगे।
                            </h2>
                      </div>
                </div>
            </div>
        </div>
    </div>
    


<footer class=" pt-4">
  <div class="container me-5 pe-5 pb-3">
      <div class="container  ">
          <div class="container">
                <div class="" align="right">
                  <p>
                    All rights reserved
                    </p>
                </div>
          </div>
      </div>
  </div>
</footer>




    
    <script>
      function sendEmail(){
        Email.send({
        Host : "smtp.elasticemail.com",
        Username : "walterakki@gmail.com",
        Password : "D7B39037FD318513173991504A8EAB0075F7",
        To : 'manish.rajput62647457@gmail.com',
        From : "walterakki@gmail.com",
        Subject : document.getElementById("name").value+ " send enquiry from HumanPowers",
        Body : "Name: "+ document.getElementById("name").value
        + "<br> Phone Number: "+ document.getElementById("phone").value
        + "<br> Address: "+ document.getElementById("address").value
}).then(
  message => alert("Message send successfully")
);    
      }
    </script>

<script src="https://smtpjs.com/v3/smtp.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>