<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Stamp</title>
</head>
<body>
    <p id="result"></p>
    <script>
        var d = new Date();
        var date = d.getDate();
        var month = d.getMonth();
        var year = d.getFullYear();
        var hour = d.getHours();
        var minute = d.getMinutes();
        var second = d.getSeconds();
        var final_date = date +"/"+month+"/"+year+" "+hour+":"+minute+":"+second;
        document.getElementById("result").innerHTML=final_date;
    </script>

    <script>
        const sheets = SpreadsheetApp.openByUrl("https://docs.google.com/spreadsheets/d/1WHHYY7UyR_lu26D5jKDDahtdLVkBw7bnya9220E-jLw/edit#gid=0");

const sheet = sheets.getSheetByName("Responses");

function doPost(e){
  let data = e.parameter;
  var d = new Date();
        var date = d.getDate();
        var month = d.getMonth();
        var year = d.getFullYear();
        var hour = d.getHours();
        var minute = d.getMinutes();
        var second = d.getSeconds();
        var timeStamp = date +"/"+month+"/"+year+" "+hour+":"+minute+":"+second;
  sheet.appendRow([,data.name,data.phone,data.address]);
  return ContentService.createTextOutput("Thank you! your form submiited successfully");
  
}
    </script>

</body>
</html>